<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>PortfolioMenu</title>


<script src="https://cdn.tailwindcss.com"></script>


</head>


<body class="bg-gray-100 p-8">


<div class="max-w-6xl mx-auto">


<h1 class="text-3xl font-bold mb-6">
PortfolioMenu
</h1>



<div class="grid grid-cols-4 gap-4 mb-8">


<div class="bg-white rounded shadow p-4">

<div class="text-gray-500">
Valore totale
</div>

<div class="text-2xl font-bold">
{{printf "%.2f" .TotalValue}} €
</div>

</div>



<div class="bg-white rounded shadow p-4">

<div class="text-gray-500">
Capitale investito
</div>

<div class="text-2xl font-bold">
{{printf "%.2f" .TotalInvested}} €
</div>

</div>



<div class="bg-white rounded shadow p-4">

<div class="text-gray-500">
Gain/Loss
</div>

<div class="text-2xl font-bold">
{{printf "%.2f" .TotalGain}} €
</div>

</div>



<div class="bg-white rounded shadow p-4">

<div class="text-gray-500">
Rendimento
</div>

<div class="text-2xl font-bold">
{{printf "%.2f" .GainPercent}} %
</div>

</div>


</div>



<table class="bg-white shadow rounded w-full">


<tr class="border">

<th class="p-2">
Ticker
</th>

<th>
Tipo
</th>

<th>
Valore
</th>

<th>
Gain
</th>


</tr>



{{range .Assets}}

<tr class="border text-center">


<td class="p-2 font-bold">
{{.Ticker}}
</td>


<td>
{{.Type}}
</td>


<td>
{{printf "%.2f" .MarketValue}} €
</td>


<td>
{{printf "%.2f" .GainLoss}} €
</td>


</tr>


{{end}}


</table>


</div>


</body>

</html>